body {
    font-family: 'Amatic SC', cursive;
    min-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    bottom: 0;
    background-image: url("images/paint-background.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

#logo{
    margin-top: 100px;
    margin-bottom: 50px;
}

a {
	list-style-type: none;
	text-decoration: none;
}

menu a:link {
	color: #000;
	text-decoration: none;
}

menu a:visited {
	color: #000;
}

menu a:hover {
	color: #FF6666;
}

menu a:active {
	color: #000;
}

.header-nav{
	width: 850px;
    margin-left: auto;
    margin-right: auto;
	position: relative;

}

.header-nav li{
	display: inline;
	list-style-type: none;
	text-transform: uppercase;
	letter-spacing: 3.5px;
	font-size: 2em;
	color: #F5AB35;
	padding: 25px;
}

.header-nav ul{
    padding: 0px;
}

.index-page-content{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    margin-top: 100px;

}

.index-page-content #wordage{
    font-size: 1.5em;
    margin-left: auto;
    margin-right: auto;
    float: left;
    width: 300px;
    overflow: auto;
}

.index-page-content img{
    float: right;
    overflow: auto;
    margin-bottom: 100px;
}

.about-page-content{
    margin-left: auto;
    margin-right: auto;
    width: 850px;
    margin-top: 100px;

}

.about-page-content #wordage{
    font-size: 1.5em;
    margin-left: auto;
    margin-right: auto;
    float: left;
    width: 300px;
    overflow: auto;
}

.about-page-content img{
    float: right;
    overflow: auto;
    padding-top: 100px;
    width: 400px;
    margin-bottom: 100px;
}

.footer{
    clear: both;
    position: absolute;
    bottom: 50px;
    left: 48%;
    margin-left: auto;
    margin-right: auto;   
}
