/*****MAIN STYLING*****/
body {
    font-family: 'Amatic SC', cursive;
    min-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 0;
    background-image: url("images/paint-background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 1em;
}

#logo{
    margin-top: 100px;
    margin-bottom: 50px;
}

a {
	list-style-type: none;
	text-decoration: none;
}

menu a:link {
	color: #000;
	text-decoration: none;
}

menu a:visited {
	color: #000;
}

menu a:hover {
	color: #FF6666;
}

menu a:active {
	color: #000;
}

.header-nav{
	width: 850px;
    margin-left: auto;
    margin-right: auto;
	position: relative;

}

.header-nav li{
	display: inline;
	list-style-type: none;
	text-transform: uppercase;
	letter-spacing: 3.5px;
	font-size: 2em;
	color: #F5AB35;
	padding: 25px;
}

.header-nav ul{
    padding: 0px;
}

/*****HOMEPAGE*****/
.index-page-content{
    margin-left: auto;
    margin-right: auto;
    width: 800px;

}

.index-page-content #wordage{
    font-size: 1.5em;
    margin: auto;
    float: left;
    overflow: auto;
}

#slideshow{
    margin-top: 100px;
    width: 750px;
    margin: auto;
    position: relative;
    text-align: center;
}

.slides{
    width: 750px;
    height: 500px;
}

.slides img{
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px #444;
}

.indicator-light{
    position: relative;
    top: -45px;
    cursor:pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #FCB3B3;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .indicator-light:hover {
    background-color: #FF6666;
}

#nat-and-tay{
    position: relative;
    top: -115px;
    font-size: 1.5em;
    width: 200px;
    margin: auto;
    color: black;
    background-color: white;
    border-radius: 35px;
    opacity: .7;
    
}

#polka-dot{
    position: relative;
    top: -400px;
    left: 70px;
    font-size: 2em;
    width: 200px;
    color: #FF6666;   
}

#mens-suit{
    position: relative;
    top: -475px;
    left: 500px;
    font-size: 2em;
    width: 200px;
    color: #FF6666;    
}

#fushia-suit{
    position: relative;
    top: -375px;
    left: 450px;
    font-size: 2em;
    width: 200px;
    color: #FF6666;   
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*****ABOUT PAGE*****/
.about-page-content{
    margin-left: auto;
    margin-right: auto;
    width: 850px;
    margin-top: 100px;

}

.about-page-content #wordage{
    font-size: 1.5em;
    margin-left: auto;
    margin-right: auto;
    float: left;
    width: 300px;
    overflow: auto;
}

.about-page-content img{
    float: right;
    overflow: auto;
    padding-top: 100px;
    width: 400px;
    margin-bottom: 100px;
}

/*****GALLERY PAGE*****/
#gallery-block{
    width: 800px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}

.gallery-images{
    width: 200px;
    padding: 20px;
}

/*****CONTACT PAGE*****/
#form-info a:link {
	color: #000;
	text-decoration: none;
}

#form-info a:visited {
	color: #000;
}

#form-info a:hover {
	color: #FF6666;
}

#form-info a:active {
	color: #000;
}

#media-button {
    width: 50px;
    padding: 25px;
}

#form-info{
    font-size: 1.5em;
}

#contact-form{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#contact-form input{
    width: 400px;
    height: 25px;
    border: solid .7px #96C63D;
}

#contact-form textarea{
    width: 400px;
    height: 200px; 
    border: solid .7px #96C63D;
    margin-bottom: 20px;
}

#contact-form #submit-button{
    height: 40px;
    margin-left: 150px;
    margin-bottom: 100px;
    width: 100px;
    font-family: 'Amatic SC', cursive;
    font-size: 1.2em;
    text-transform: uppercase;
    background-color: #96C63D;
    color: white;
}

/*****FOOTER STYLING*****/
.footer{
    position: relative;
    clear: both;
    width: 600px;
    margin: auto;
}

footer{
    clear: both;
    margin-top: 75px;
    margin-bottom: -25px;
    border-top: .8px solid black;
    font-size: 1em;
}

#follow {
    float: left;
    width: 300px;
}

#follow img {
    width: 40px;
    padding: 20px;
}

#follow p {
    font-size: 2em;
    color: #96C63D;
    font-weight: 700;
    background-color: white;
    margin-bottom: -5px;
}

#location{
    float: right;
    width: 200px;
}

#location p {
    font-size: 2em;
    color: #96C63D;
    font-weight: 700;
    background-color: white;
    margin-bottom: -5px;
}

footer p{
    background-color: #E8E8E8;
    clear: both;
    margin-top: 10px;
    padding: 25px;
}
